.container {
    display: flex;
    flex-direction: row;
    justify-content: ;
}

.container img {
    max-width: 112px;
    margin: 0px auto;
}

.container h3 {
    text-align: center;
}

.container p {
    width: 200px;
}